.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img {
  width: 200px; /* Set the desired width */
  height: 200px; /* Set the desired height */
  border-radius: 50%; /* Make the image circular */
  padding: 20px;
  object-fit: cover; /* Maintain the image's aspect ratio */
}

.text {
  color: #8389a2;
  font-weight: 300;
  font-size: 26px;
}
