.NavBar {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  border: 1px solid #8389a2;
}

.NavLink {
  color: #8389a2; /* Set your default color here */
  text-decoration: none;
  transition: color 0.3s; /* Smooth transition effect */
  padding: 30px;
  font-size: 26px;
  margin-right: 20px;
  border-radius: 30px;
  border: 1px solid #8389a2;
}

/* Define the hover style for the NavLink */
.NavLink:hover {
  color: yellow; /* Set the color you want on hover */
  border: 2px solid yellow;
}
.active {
  border-bottom: 2px solid yellow; /* Set the color and thickness you want */
}
