.NavBar {
  display: flex;
  justify-content: center;
}

.NavLink {
  color: #8389a2;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 1.5vw;
  font-weight: 400;
  margin-right: 1em;
  padding-right: 30px;
  border-right: 2px solid #8389a2;
  display: inline-block;
  font-family: "Courier New", monospace;
}

/* Define the hover style for the NavLink */
.NavLink:hover {
  color: #ffffff;
}
.active {
  border-bottom: 2px solid yellow;
}

.navText {
  color: #8389a2;
  font-size: 2vw;
  font-weight: 500;
  font-family: "Courier New", monospace;
}

.navName {
  color: #8389a2;
  font-size: 2vw;
  font-weight: 500;
  font-family: "Courier New", monospace;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 2%;
  margin-inline: 10%;
}
